#tabla{
	height:500px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}
#tabla th{
	background-color: rgba(80,80,200);
}
#tabla td{
	background-color: rgba(210,210,255);
}